footer
  .container
    .block
      b Ristretto
      ul
        li
          a(href="https://github.com/georoot/ristretto") Github
        li
          a(href="http://rahulbhola.ml/ristretto/docs") API Documentation
