.container(ng-controller="authCtrl" ng-show="auth==true")
  .row(ng-controller="repoCtrl" ng-init="list()")
     h2 You repositories
     ul
       li(ng-repeat="repo in repoList")
         a(href="/{{repo.owner}}/{{repo.title}}" ng-bind="repo.title")
