.container(ng-controller="authCtrl" ng-show="auth==false")
  form.r-Form(ng-submit="signup()")
    h2 Signup
    .success(ng-show="message!=null" ng-bind='message')
    .error(ng-show="error!=null" ng-bind='error')
    input(type='Text' placeholder='Username' ng-model='form.username')
    input(type='password' placeholder='Password' ng-model='form.password')
    button Signup
