.container(ng-controller="authCtrl")
  form.r-Form(ng-submit="login()")
    h2 Login
    input(type="text" placeholder="Username" ng-model="form.username")
    input(type="password" placeholder="Password" ng-model="form.password")
    button Login
