.container(ng-controller="repoCtrl")
  form.r-Form(ng-submit="createRepo()")
    h2 New repository
    input(type="text" placeholder="Repository name" ng-model="form.title")
    button Create Repository
